<!-- <ol class="breadcrumb">
	<li><a ui-sref="home"><i class="icon-home"></i></a></li>
	<li>Tools</li>
	<li ng-repeat="Crumb in Breadcrumbs" ng-class="{active:$last}" class="rb-fade"><a ng-hide="$last" ng-href="{{Crumb.url}}">{{Crumb.name}}</a><span ng-show="$last">{{Crumb.name}}</span></li>
</ol> -->

<ol class="breadcrumb">
	<li><a href="http://www.gaports.com"><i class="icon-home"></i></a></li>
	<li>Tools</li>
	<li ng-hide="$state.$current.data.title==='Site Selection'"><a ui-sref="home">Site Selection</a></li>
	<li ng-repeat="state in $state.$current.path" class="rb-fade"><a ng-hide="$last" href="#{{state.url.format($stateParams)}}">{{getName(state.data.title)}}</a><span ng-show="$last">{{getName(state.data.title)}}</span></li>
</ol>