/* $FontAwesomePath: "/bower_components/font-awesome/font/"; */
//$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
/* @import "font-awesome/scss/font-awesome"; */
/* @import 'sass-bootstrap/lib/bootstrap'; */

/* Required by angular-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Always force a scrollbar so that layout doesn't jump */
html {
    overflow-y: scroll;
}



.map {
    height: 350px; 
    border: solid 1px lightgray; 
    border-radius: 3px;
}
.gcc-vertical-gutter {
	margin-top: 10px;
}
.gcc-container {
    min-height: 800px;
}
.gcc-hrule {
    border-bottom: 1px solid #dddddd;
    margin-top: 8px;
    margin-bottom: 8px;
}
.highlight-text {
    font-weight: bold;
}
div.headline-links {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    margin-top: 20px;
    line-height: 24px;
}
h3.headline-links {
    display: inline-block; 
}
.well-corridors-indicator {
    padding: 2px 6px;
    margin-bottom: 0;
}


/*****************************
Slide up footer
*/
$footerHeight: 550px;
$footerRevealTopOffset: 10px;
$footerHideOffset: $footerRevealTopOffset - $footerHeight;

.footer {
    position: fixed;
    width: 100%;
    bottom: $footerHideOffset;
    height: $footerHeight;

    -webkit-transition: bottom 0.5s; /* For Safari 3.1 to 6.0 */
    transition: bottom 0.5s;
    z-index: 99999;
}
.footer.raised {
    bottom: 0;
}
.footer-tab {
    position: absolute;
    /* width: 50px; */
    padding: 0 20px;
    height: 25px;
    background-color: #00274c;
    color: #FFFFFF;
    top: -24px;
    right: 30px;
    /* font-size: 18px; */
    line-height: 25px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    color: #96a0a9;
}
@media (max-width: 1200px) {
    .footer {
        bottom: $footerHideOffset - 50px;
        height: $footerHeight + 50px;
    }
}
@media (max-width: 992px) {
    .footer {
        bottom: $footerHideOffset - 130px;
        height: $footerHeight + 130px;
    }
}
@media (max-width: 749px) {
    .footer {
        position: static;
        bottom: auto;
        height: auto;
        -webkit-transition: none;
        transition: none;
        z-index: auto;
    }
    .footer-tab {
        display: none;
    }
}


/**********************************************
County tabs have badges, but the Overview
tab does not and ends up with a bottom border
when selected. This placeholder fixes the bottom 
border when selected.
*/
.badge-placeholder {
    padding:3px 7px;
    font-size:12px;
    line-height: 1;
    display: inline-block;
}



/**********************************************
County tabs: Industrial Buildings tab, 
hide the word "Buildings" on smaller devices 
*/
@media (max-width: 991px) and (min-width: 768px) {
    .rb-hidden-sm, tr.rb-hidden-sm, th.rb-hidden-sm, td.rb-hidden-sm {
        display: none !important;
    }
}



/**********************************************
Class used for Javascript reference.
Used when animating the view to hide 
elements below the view (not in the view)
that would otherwise "jump" during the 
animation
*/
.rb-hide-while-transition-animating {};




/**********************************************
TIER button labels
*/
.btn.tier1 {
    background-color: #FF7300;
    background-color: rgba(#FF7300, 0.6);
    color: #FFFFFF;
    border-color: #914100;
    padding: 0 3px;
}
.btn.tier2 {
    background-color: #598C00;
    background-color: rgba(#598C00, 0.6);
    color: #FFFFFF;
    border-color: #253B00;
    padding: 0 3px;
}
.btn.tier3 {
    background-color: #BB00FF;
    background-color: rgba(#BB00FF, 0.6);
    color: #FFFFFF;
    border-color: #5F0082;
    padding: 0 3px;
}
.btn.tier4 {
    background-color: #0055FF;
    background-color: rgba(#0055FF, 0.6);
    color: #FFFFFF;
    border-color: #002E8A;
    padding: 0 3px;
}



/**********************************************
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
 [ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}




/**********************************************
Loading Directive 
*/
.loading {
	position: relative;
}
.loading.loading-small .loading-panel {
    min-height: 16px;
	background-image: url('../../images/ajax-loader-small.gif');
}
.loading-panel {
	background-image: url('../../images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
    min-height: 150px;
	position: absolute;
	top: 0;
	display: none;
	z-index: 999;
}



/**********************************************
Photo-Thumbnail Directive 
*/
.imageload {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 50px;
}
.imageload .loading-bar {
    background-image: url('../../images/loading-bar.gif');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    min-height: 32px;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
}



/**********************************************
Animation zoom effect when clicking
on a county from a corridor and zooming
to county details.
*/
.rb-zoom-css {
    transition-timing-function: ease;
    transition-duration: 500ms;
}
 
.rb-zoom-css.ng-enter {
    transition-property: none;
    transform: translate3d(0,0,50%);
}
 
.rb-zoom-css.ng-enter.ng-enter-active {
    transition-property: all;
    transform: translate3d(0,0,100%);
}
 
.rb-zoom-css.ng-leave {
    transition-property: all;
    transform: translate3d(0,0,100%);
}
 
.rb-zoom-css.ng-leave.ng-leave-active {
    transition-property: all;
    transform: translate3d(0,0,50%);
}





/**********************************************
This animates the Bookmark list 
when adding and removing rows.
*/
.animate-repeat.ng-enter, 
.animate-repeat.ng-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-repeat.ng-enter,
.animate-repeat.ng-leave.ng-leave-active {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    height: 0px;
    opacity: 0;
}

.animate-repeat.ng-enter.ng-enter-active,
.animate-repeat.ng-leave {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    height: 30px;
    opacity: 1;
}
