<div class="panel panel-default">
	<div class="panel-heading">Proximity</div>
	<div class="panel-body">
		
		<div class="form-group">
			<label for="tbxProximityAirport">Max. miles to airport:</label>
			<input id="tbxProximityAirport" type="number" class="form-control" ng-model="Proximity.Airport" placeholder="Any distance">
		</div>
		
		<div class="form-group">
			<label for="tbxProximityAtlanta">Max. miles to Atlanta:</label>
			<input id="tbxProximityAtlanta" type="number" class="form-control" ng-model="Proximity.Atlanta" placeholder="Any distance">
		</div>
		
		<div class="form-group">
			<label for="tbxProximityInterstate">Max. miles to interstate:</label>
			<input id="tbxProximityInterstate" type="number" class="form-control" ng-model="Proximity.Interstate" placeholder="Any distance">
		</div>
		
		<div class="form-group">
			<label for="tbxProximityHighway">Max. miles to highway:</label>
			<input id="tbxProximityHighway" type="number" class="form-control" ng-model="Proximity.Highway" placeholder="Any distance">
		</div>
		
	</div>
</div>