<p>&nbsp;</p>
<div class="row">
	<div class="col-sm-7">
		<p ng-bind-html="county.summary"></p>
		<div class="loading" field-to-watch="{{county.attributes.COUNTY_FIPS_CODE}}" spinner-offset-y="50px">
			<table id="OverviewTable" class="table table-striped" ng-cloak>
				<tr>
					<td>
						<strong>{{fieldAliases.COUNTY_FIPS_CODE}}:</strong>
					</td>
					<td>
						{{county.attributes.COUNTY_FIPS_CODE}}
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.TOTPOP_CY}}:</strong>
					</td>
					<td>
						{{county.attributes.TOTPOP_CY | number}}
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.MEDHHINC_CY}}:</strong>
					</td>
					<td>
						{{county.attributes.MEDHHINC_CY | dollars}}
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.HHPOP_CY}}:</strong>
					</td>
					<td>
						{{county.attributes.HHPOP_CY | number}}
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.MEDAGE_CY}}:</strong>
					</td>
					<td>
						{{county.attributes.MEDAGE_CY}}
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.MILLAGE_RATE}}:</strong>
					</td>
					<td>
						{{county.attributes.MILLAGE_RATE | number:2}}%
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.PROPERTY_TAX}}:</strong>
					</td>
					<td>
						{{county.attributes.PROPERTY_TAX | number:2}}%
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.SALES_TAX}}:</strong>
					</td>
					<td>
						{{county.attributes.SALES_TAX}}%
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.STATE_SALES_TAX}}:</strong>
					</td>
					<td>
						{{county.attributes.STATE_SALES_TAX}}%
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.FREEPORT_CAT_1}}:</strong>
					</td>
					<td>
						{{county.attributes.FREEPORT_CAT_1}}
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.FREEPORT_CAT_2}}:</strong>
					</td>
					<td>
						{{county.attributes.FREEPORT_CAT_2}}
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.FREEPORT_CAT_3}}:</strong>
					</td>
					<td>
						{{county.attributes.FREEPORT_CAT_3}}
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.JOB_TAX_CREDIT}}:</strong>
					</td>
					<td>
						{{county.attributes.JOB_TAX_CREDIT | dollars}}
					</td>
				</tr>
				<tr>
					<td><strong>{{fieldAliases.JOB_TAX_CREDIT_TIER}}:</strong>
					</td>
					<td>
						{{county.attributes.JOB_TAX_CREDIT_TIER}}
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.JDA}}:</strong>
					</td>
					<td>
						{{county.attributes.JDA}}
					</td>
				</tr>
				<tr>
					<td><strong>{{fieldAliases.INVESTMENT_TAX_CREDIT}}:</strong>
					</td>
					<td>
						{{county.attributes.INVESTMENT_TAX_CREDIT}}
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.UNEMP_RATE_CY}}:</strong>
					</td>
					<td>
						{{county.attributes.UNEMP_RATE_CY | number:2}}%
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.AVG_WAGE}}:</strong>
					</td>
					<td>
						{{county.attributes.AVG_WAGE | dollars}}
					</td>
				</tr>
				<tr>
					<td>
						<strong>{{fieldAliases.AVG_WAGE_MANF}}:</strong>
					</td>
					<td>
						{{county.attributes.AVG_WAGE_MANF | dollars}}
					</td>
				</tr>
				<tr>
					<td>
						<strong>Energy Tax Exemption:</strong>
					</td>
					<td>
						{{county.attributes.ENERGY_TAX_EXEMPTION | yesno}}
					</td>
				</tr>
			</table>
		</div>
	</div>


	<div class="col-sm-5">
		<div county-map county-id="{{countyId}}"></div>
	</div>
</div>


