<a id="top"></a>

<div class="row">
	<div class="col-sm-8">
		<h3><i class="icon-bookmark"></i> Bookmarked Properties <ng-pluralize class="small" count="BookmarksIndex.count"
			when="{'0': '', '1': '(1 item)', 'other': '({} items)'}">
		</ng-pluralize></h3>
	</div>
	<div class="col-sm-4" style="padding-top:20px;line-height:24px;">
		<a href="" ng-click="showConfirmDeleteAllModal()" class="small pull-right" ng-show="Bookmarks.length > 0"><i class="icon-remove-sign"></i> Remove all bookmarks</a>
	</div>
</div>
<p>&nbsp;</p>

<!-- PROPERTY ROWS -->
<div ng-show="Bookmarks.length > 0" ng-repeat="property in Bookmarks" class="animate-repeat">
	<div ng-switch on="property.type">
		<div ng-switch-when="office">
			<div office-row property="property"></div>
		</div>
		<div ng-switch-when="industrial">
			<div industrial-row property="property"></div>
		</div>
		<div ng-switch-when="site">
			<div site-row property="property"></div>
		</div>
	</div>
</div>

<!-- NO RECORDS MESSAGE -->
<div class="alert alert-info" ng-hide="Bookmarks.length > 0">
	<i class="icon-info-sign icon-large"></i>&nbsp;&nbsp;You do not have any bookmarks.<br/>
	<small>To add bookmarks, browse for properties on the <a ui-sref="home" style="text-decoration:underline;">Georgia corridors</a> and click the <strong>Bookmark this</strong> link.</small>
</div>

<!-- Delete Confirmation modal -->
<script id="confirmDeleteAllModal.html" type="text/ng-template">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
		<div><strong>Please confirm</strong></div>
	</div>
	<div class="modal-body">
		<h4><i class="icon-exclamation-sign icon-large"></i> Are you sure you want to remove all bookmarks?</h4>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="close()">No</button>
		<button type="button" class="btn btn-danger" ng-click="deleteAllBookmarks()">Yes</button>
	</div>
</script>
