<span class="tiers-btn-container">

	<span 
	class="btn btn-default btn-xs tier1" 
	ng-show="tiers.tier1||tier===1" 
	popover-trigger="mouseenter"
	popover-title="Georgia&rsquo;s BEST Legislation, Tier&nbsp;1"
	popover="Click for more"
	ng-click="openModal('tier1')"
	>&nbsp;Tier 1&nbsp;</span>&nbsp;<span 
	class="btn btn-default btn-xs tier2" 
	ng-show="tiers.tier2||tier===2" 
	popover-trigger="mouseenter"
	popover-title="Georgia&rsquo;s BEST Legislation, Tier&nbsp;2"
	popover="Click for more"
	ng-click="openModal('tier2')"
	>&nbsp;Tier 2&nbsp;</span>&nbsp;<span 
	class="btn btn-default btn-xs tier3" 
	ng-show="tiers.tier3||tier===3" 
	popover-trigger="mouseenter"
	popover-title="Georgia&rsquo;s BEST Legislation, Tier&nbsp;3"
	popover="Click for more"
	ng-click="openModal('tier3')"
	>&nbsp;Tier 3&nbsp;</span>&nbsp;<span 
	class="btn btn-default btn-xs tier4" 
	ng-show="tiers.tier4||tier===4" 
	popover-trigger="mouseenter"
	popover-title="Georgia&rsquo;s BEST Legislation, Tier&nbsp;4"
	popover="Click for more"
	ng-click="openModal('tier4')"
	>&nbsp;Tier 4&nbsp;</span>
	
</span>