<div class="panel panel-default">
	<div class="panel-heading">Building size</div>
	<div class="panel-body">

		<div class="form-group">
			<label for="tbxMinimumSize">Minimum sq. ft. :</label>
			<input id="tbxMinimumSize" type="number" class="form-control" ng-model="Property.SqFt.Min" placeholder="No minimum size">
			
			<label for="tbxMaximumSize">Maximum sq. ft. :</label>
			<input id="tbxMaximumSize" type="number" class="form-control" ng-model="Property.SqFt.Max" placeholder="No maximum size">
		</div>

	</div>
</div>

