<!-- <div class="panel panel-default">
	<div class="panel-heading">Property type</div>
	<div class="panel-body"> -->

		<div class="form-group">
			<label for="ddlPropertyType">Property type:</label>
			<select id="ddlPropertyType" class="form-control" ng-model="Property.Type">
				<option value="Industrial">Industrial building</option>
				<option value="Office">Office Building</option>
				<option value="Site">Site</option>
			</select>
			
		</div>

		<div class="form-group">
			<label for="ddlListing">Real estate listing:</label>
			<select id="ddlListing" class="form-control" ng-model="Property.Listing">
				<option value="LeaseOrSale">Lease or sale</option>
				<option value="Lease">Lease</option>
				<option value="Sale">Sale</option>
			</select>
		</div>

		<div class="gcc-vertical-gutter">&nbsp;</div>

<!-- 	</div>
</div> -->