<div class="panel panel-default">
	<div class="panel-heading">Lot size</div>
	<div class="panel-body">

		<div class="form-group">
			<label for="tbxMinimumSize">Minimum acres:</label>
			<input id="tbxMinimumSize" type="number" class="form-control" ng-model="Property.Acres.Min" placeholder="Any size">
		</div>
		
		<div class="form-group">
			<label for="tbxMaximumSize">Maximum acres:</label>
			<input id="tbxMaximumSize" type="number" class="form-control" ng-model="Property.Acres.Max" placeholder="Any size">
		</div>

	</div>
</div>

