<div class="modal-header">
	<button type="button" class="close" ng-click="closeModal()" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="myModalLabel">{{name}}</h4>
</div>
<div class="modal-body" style="text-align:center;">
	<img 
	ng-hide="photoSrc==='No Photo'" 
	ng-src="{{photoSrc}}" 
	alt="{{name}}" 
	title="{{name}}" 
	class="img-responsive" 
	style="border:solid 1px lightgray; margin:0 auto; width:100%;">
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="closeModal()">Close</button>
</div>