<div class="panel panel-default">
	<div class="panel-heading">Proximity</div>
	<div class="panel-body">
		
		<div class="form-group">
			<label for="tbxProximityPort">Max. miles to port:</label>
			<input id="tbxProximityPort" type="text" number-only-input class="form-control" ng-model="Proximity.Port" placeholder="Any distance">
		</div>

		<div class="form-group">
			<label for="tbxProximityAirport">Max. miles to airport:</label>
			<input id="tbxProximityAirport" type="text" number-only-input class="form-control" ng-model="Proximity.Airport" placeholder="Any distance">
		</div>

		<div class="form-group">
			<label for="tbxProximityIntermodal">Max. miles to intermodal:</label>
			<input id="tbxProximityIntermodal" type="text" number-only-input class="form-control" ng-model="Proximity.Intermodal" placeholder="Any distance">
		</div>
		
	</div>
</div>